*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
body{
    font-size: 1.25rem;
    background-color: #fff;
}

.center{
    text-align: center;
}

.heading{
    display: block;
    width: 50%;
    height: 2.5rem;
    margin: 1.5625rem auto;
    padding: .75rem;
    border-radius: .75rem;
    border: 2px solid rgb(255, 57, 107);
    box-shadow: 0 0 .25rem rgb(255, 57, 107);
    background-color: rgb(255, 124, 248);
    color: rgb(255, 245, 245);
}
h2{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

form{
    box-shadow: 0 0 1rem #ffa19a;
    width: 55%;
    margin: 2.5rem auto;
    border-radius: 1.25rem;
    padding: 1rem;
    background: #f0a3ff;
    border: 1px solid #ffa19a;
}

form p{
    color: rgb(255, 0, 0);
    margin: 0px;
}


.task_input{
   width: 73%;
   height: 1rem;
   padding: .625rem;
   border: 2px solid #d66dff;
}
.btn{
    font-family: 'Kanit', sans-serif;
    box-shadow: 0 0 1rem rgb(255, 63, 255);
    border: 1px solid rgb(255, 63, 255);
    cursor: pointer;
    font-weight: bold;
    font-size: 1.25rem;
    height: 3.1875rem;
    background: #fc9cff;
    margin-left: 1.625rem;
    color: #ffffff;
    border-radius: 1.5625rem;
    padding: .625rem 1.5625rem;
}
table{
    width: 50%;
    margin: 1.875rem auto;
    border-collapse: collapse;
}
tr{
    border-bottom: 1px solid #cbcbcb;
}
th{
    font-size: 1.25rem;
    color: rgb(255, 128, 128);
}
th, td{
    font-family: 'Kanit', sans-serif;
    color: white;
    text-align: center;
    height: 1.875rem;
    padding: 3px;
    border: none;
}
tr:hover{
    color: #000;
}
.task{
    text-align: left;
}
.delete a{
    color: #ffffff;
    background: #ff64d6f2;
    text-decoration: none;
    border-radius: .75rem;
    padding: .25rem 1.125rem;
}
footer{
    position: absolute;
    bottom: 0;
}